<app-navbar></app-navbar>
<h1 class="m-4">About Us</h1>
<div class="card m-5 " style="width: 700px; ">
    <img
    src="../../../assets/nnn.jpg"
    width="65px"
    height="65px"
    alt="image"
  />
    <div class="card-body text-center ">
        <h5 class="card-title">Alice Liddel</h5>
        <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
        <a  class="btn btn-primary">View Profile</a>
    </div>
</div>
